@charset "UTF-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");
/*스타일 초기화*/
*, *::before, *::after{
    box-sizing: border-box; /*패딩과 보더까지 width에 포함*/
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*숨긴컨텐츠*/
.readable-hidden, legend{
    background: teal;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow:hidden;
    clip: rect(0,0,0,0);
    margin:-1px;
}
/*클래스모듈*/
/*float 이슈를 해결하기 위한  clear 기능*/
.clearfix::after{ /*비포 애프터는 인라인박스*/
    content: ""; /*글자추가, 배경처럼 잡히는 것으로 텍스트를 추가해도 요소로 잡히지 않음*/
    display: block;
    clear: both;   /*clear는 박스 요소에만 적용됨*/
}
/*기본스타일*/
body{
    color:#181818;
    font-size: 1.4rem;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
    line-height: 1.15;
    background:linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%); 
}
/*컨테이너*/
.container{
    background: url("images/bg_flower.png") no-repeat 50% 0;
}

.header, .visual, .main, .slogan, .footer {
    width: 940px;
    margin: 0 auto;
}
.bg-footer{
    background:linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}

/*헤더*/
.header{
    position: relative; 
    background: #fff;
     /*fixed와 absolute는 레이어를 만든다 그래서 사용할 수 없음,  relative는 노멀플로우*/
     padding: 0 30px 45px;
     border-radius: 0 0 15px 15px;
}
/*로고*/
.logo{
     position: absolute; /*fixed 는 뷰포트 기준*/
    top:52px;
    left:65px;
}
/*안내링크*/
.member{
    position: relative;
    text-align: right;
    font-size: 0;
    padding: 2px 0;
    margin-right: -10px;
}
.member li{
    
    font-size: 1.4rem;
    text-transform: uppercase;
}
.member li, .member a{
    display: inline-block;
}
.bar::before{
    content: ":";
    margin: 0 1px;
}
.member a{
    padding: 5px 10px;
}
/*메인메뉴*/
.menu{
    background:#ed552f  linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    margin-top:10px;
    padding-left: 225px;
    border-top: 2px solid #000;
    border-radius: 0 0 5px 5px;
}
.menu > li{     /*>자식 요소만 선택함, 손자는 선택안함*/
    float: left;
    position: relative;
}
.menu-item-text{
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    padding: 1em 18px;
    display:block;
    border-left: 1px solid #fff;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-item-text{
    color: #ff0;
    position: relative;
}
.menu-act .menu-item-text::after{
    position: absolute;
    bottom: -2px;
    width: calc(100% - 36px);
    content: "";
    display: block;
    border-top: 2px solid #000;
}
.sub-menu{
    position: absolute; 
    top: 55px;
    white-space: nowrap; /*줄바꿈 금지, block요소에서만 쓸수있음*/
    display: none;
}
.menu-act .sub-menu{
    display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
    right: 0;
}
.sub-menu li, .sub-menu a{
    display:inline-block;   
}
.sub-menu a{
    padding: 10px 0;
    margin-right: 10px;
}
/*비주얼*/
@keyframes textAni{
    /*글자크기 12px~24px / (font-size)
    투명도   투명~ 불투명 / (color:rgba) 
    위치  왼쪽 상단에서 오른쪽 하단 (0,0)->(400px,75px) / position:absolute; 또는 margin 또는 padding 
         그러나 얘네는 성능이 좋지않다(과거방식임)
    그래서 transform : translate(); 를 많이 사용함
     */
     0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
     }   /*from 대신 0%*/
     100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px,75px);
     }  /*to 대신 100%*/
}
/*플라워 애니*/
@keyframes flowerAni{
    /*애니메이션 시나리오
      1. 깜박거림(투명도 변화) / opacity 0~1
      2. 비포박스 와 애프터 박스가 교차함 / 
      3. 
      */
   0%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}
.visual{
    height: 120px;
    position:relative
}
.visual::before, .visual::after{
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    animation-name: flowerAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;  /*애니메이션 반복*/
    animation-direction: alternate; /*순방향, 역방향으로 왔다갔다*/
}
.visual::before{
    background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png"); /*배경은 위로 쌓이는게 아니라 아래로 쌓임*/
    background-position: 0 -10px, 670px 0;
}
.visual::after{
    background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png"); 
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
    animation-timing-function: ease-in-out; 
}



.visual-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation-name: textAni;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    width: 545px;
}
/*메인컨텐츠*/
.main{
    min-height: 450px;
    background: #fff;
    padding:30px;
    display: flex; /*자식을 나란히 세우기 위해서  flex container로 지정*/
    justify-content: space-between; 
    flex-direction: row;
    border-radius: 15px 15px 0 0;
}
.group1{
    
    width: 250px;
}
.group2{
    
    width: 380px;
}
.group3{
    
    width: 190px;
}
/*로그인*/
.login{
    background: #e8852e radial-gradient(circle at right top, #e8852e, #ed552f); 
    border-radius: 5px;
    padding:10px;
    box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
    font-size: 1.5rem;
    font-weight:700;
    color:#ff0;
    padding-left:10px;
}
.login-form{
    background: rgb(255,255,255);
    margin-top:10px;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}
/*shadow는 박스 사이즈에 영향을 주지 않음*/
.login-form fieldset{
    border:0;
    position: relative;
    border-bottom:1px solid #aaa;
    padding-bottom:10px;
}
.user-pw{
    margin-top:5px;
}
.login-form label{       /*인라인 속성*/
    width:4em;
    display: inline-block;
}
.login-form input{       /*인라인블럭 속성*/
    width: 95px;
    height: 24px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}
.btn-login{
    position: absolute;
    top:0;
    right:0;
    background: #ed552f;
    color: rgb(255,255,255);
    border-radius: 3px;
    border:0px;
    padding:0px;
    font-size:1.2rem;
    cursor: pointer;
    width:50px;
    height:54px;
}
.sign{

    background:rgb(255,255,255);
    border-radius: 0 0 5px 5px;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3rem;
}
.sign .icon-right-open::before{
    color:#ed552f;
    margin-right:0;
}
/*유효성검사 배너*/
.validation{
    margin-top:25px;
}
.validation-list a{
    border-radius: 30px;
    border: 1px solid #aaa;
    padding: 8px 15px 8px 45px;
    display: block;
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #bbb, #eee) repeat 0 0 ;
    margin: 10px 0;
    background-color:#bbb;
}
.validation-list a:hover, .validation-list a:focus {
    color: rgb(255,0,0);   
}
/*웹 관련 용어*/
.term{
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    background:#bbb linear-gradient(to bottom, #bbb, #eee) repeat 0 0;
}
.term-heading{
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list >div{
    margin-top:10px;
}
.term-list-subject,.term-list-brief{
    float:right;
   
    width:145px;
}
.term-list-subject{
    color:#296897;
}
.term-list-thumbnail{
    float:left;
    
}
.term-list-thumbnail img{
    vertical-align: middle;
}
.term-list-brief{
    margin-top:5px;
    line-height: 1.5em;
}

.even .term-list-brief, .even .term-list-subject{
    float:left;
}
.even .term-list-thumbnail{
    float:right;
}
/*.term-list div:nth-child(even) 짝수만 선택함*/

